/*header*/
/* responsive  */
/* Media Query */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
}

.contenedor {
  padding: 10% 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: darkolivegreen;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

header {
  width: 100%;
  height: 600px;
  background: #add100;
  background: linear-gradient(to right, hsla(70, 87%, 31%, 0.55), hsla(70, 100%, 41%, 0.512)), url(../assets/images/rutina_de_pilates.jpg.webp);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

nav {
  text-align: right;
  padding: 30px 50px 0 0;
}
nav > a {
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
  font-size: x-large;
}
nav > a:hover {
  text-decoration: underline;
}

.textos-header h1 {
  font-size: 50px;
  color: darkolivegreen;
}
.textos-header h2 {
  font-size: 30px;
  color: white;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.side {
  background-color: darkolivegreen;
}
.side img {
  width: 45%;
}
.side p {
  color: white;
  max-width: 1000px;
  letter-spacing: 1px;
  line-height: 3em;
  margin-bottom: 30px;
}
.side p.main-msg {
  color: white;
  font-size: 5em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: darkolivegreen;
}

.separator {
  width: 150px;
  height: 4px;
  background-color: darkolivegreen;
  margin: 24px;
}

.welcome-msg {
  text-align: center;
  font-size: 1.1em;
  line-height: 28px;
  margin-bottom: 28px;
  background-color: white;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
  background-color: white;
}

input {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
  background-color: white;
  width: 100%;
  background-color: white;
  color: #333;
  letter-spacing: 0.5px;
  padding: 14px 64px;
}
input ~ i {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s;
  background-color: white;
}
input:focus ~ i {
  color: darkolivegreen;
}

button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
  background-color: white;
}

button.action {
  color: white;
  padding: 14px 64px;
  margin: 32px auto;
  background-image: linear-gradient(135deg, #84a11b, rgba(65, 90, 40, 0.9764705882));
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.4s;
}
button.action:hover {
  opacity: 0.7;
}

footer {
  padding: 20px;
  color: darkolivegreen;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 780px) {
  body {
    grid-template-columns: 1fr;
  }
  .side {
    display: none;
  }
}
@media (max-width: 600px) {
  body {
    padding-left: 5em;
  }
}/*# sourceMappingURL=login.css.map */