$color_1: darkolivegreen;
$color_2: white;
$font-family_1: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

/*header*/
/* Media Query */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family_1;
}
.contenedor {
  padding: 10% 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.titulo {
  color: $color_1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
header {
  width: 100%;
  height: 600px;
  background: #add100;
  background: -webkit-linear-gradient(
      to right,
      hsla(70, 87%, 31%, 0.55),
      hsla(70, 100%, 41%, 0.512)
    ),
    url(../assets/images/rutina_de_pilates.jpg.webp);
  background: linear-gradient(
      to right,
      hsla(70, 87%, 31%, 0.55),
      hsla(70, 100%, 41%, 0.512)
    ),
    url(../assets/images/rutina_de_pilates.jpg.webp);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
nav {
  text-align: right;
  padding: 30px 50px 0 0;
  > a {
    color: $color_2;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: x-large;
    &:hover {
      text-decoration: underline;
    }
  }
}
.textos-header {
  h1 {
    font-size: 50px;
    color: $color_1;
  }
  h2 {
    font-size: 30px;
    color: $color_2;
  }
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container {
  color: $color_1;
}
main {
  h3 {
    color: $color_1;
  }
}
footer {
  padding: 20px;
  color: $color_1;
  font-family: $font-family_1;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px) {
  body {
    padding-left: 5em;
  }
}
