$color_1: darkolivegreen;
$color_2: white;
$color_3: rgb(187, 187, 4);
$font-family_1: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$background-color_1: beige;
$background-color_2: darkolivegreen;
$background-color_3: rgba(88, 103, 3, 0.698);
$background-color_4: rgba(20, 81, 7, 0.599);

/*header*/
/* Media Query */
body {
  font-family: $font-family_1;
  font-family: $font-family_1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  padding: 10% 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.titulo {
  color: $color_1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
header {
  width: 100%;
  height: 600px;
  background: #add100;
  background: -webkit-linear-gradient(
      to right,
      hsla(70, 87%, 31%, 0.55),
      hsla(70, 100%, 41%, 0.512)
    ),
    url(../assets/images/rutina_de_pilates.jpg.webp);
  background: linear-gradient(
      to right,
      hsla(70, 87%, 31%, 0.55),
      hsla(70, 100%, 41%, 0.512)
    ),
    url(../assets/images/rutina_de_pilates.jpg.webp);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
nav {
  text-align: right;
  padding: 30px 50px 0 0;
  > a {
    color: $color_2;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: x-large;
    &:hover {
      text-decoration: underline;
    }
  }
}
.textos-header {
  h1 {
    font-size: 50px;
    color: $color_1;
  }
  h2 {
    font-size: 30px;
    color: $color_2;
  }
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: $font-family_1;
  text-align: center;
  font-size: 30px;
}
.table {
  width: 100%;
  border: 1px solid beige;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  color: $color_3;
  text-align: center;
  caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
    text-align: center;
  }
  tr {
    background-color: $background-color_1;
    border: 1px solid darkolivegreen;
  }
  th {
    font-size: 16px;
    padding: 8px;
    text-align: center;
  }
  td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
  }
  thead {
    th {
      text-transform: uppercase;
      background-color: $background-color_2;
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: $background-color_3;
      }
    }
    td {
      &:hover {
        background-color: $background-color_4;
      }
    }
  }
}
footer {
  padding: 20px;
  color: $color_1;
  font-family: $font-family_1;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .table {
    border: 0px;
    caption {
      font-size: 22px;
    }
    thead {
      display: none;
    }
    td {
      &::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
      }
    }
  }
}
@media (max-width: 600px) {
  body {
    padding-left: 5em;
  }
}
